.BigDistNewFormContainer {
  display: block;
  width: 90%;
  margin: auto;
  
  mat-form-field {
    filter: invert(100%);
    width: 100%;
  }
}

.coverButton {
  position: initial;
  width: 100%;
  margin: 10px 0;
  height: 50px;
  background-color: transparent;
  overflow: hidden;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  
  &:hover {
    cursor: pointer;
  }
}


mat-form-field {
  font-family: Courier !important;
  font-size: 14px;
  line-height: 1.4;
}


#coverSolCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}

.btnNewSol {
  margin-bottom: 10px;
  font-family: Courier;
  width: 100%;
  color: invert(darken(whitesmoke, 15%));
  background-color: #65ccb5cb;
}



@media screen and (max-width:555px) {
  .BigDistNewFormContainer {
    display: block;
    width: 90%;
    margin: auto;
    
    mat-form-field {
      width: 100%;
    }
  }
  
  .coverButton {
    position: initial;
    width: 100%;
    margin: 10px 0;
    height: 50px;
    background-color: transparent;
    font-family: Courier;
    font-size: 16px;
    color: darken(whitesmoke, 15%);
    
    &:hover {
      cursor: pointer;
    }
  }
  
}