<mat-card *ngFor="let ent of entities" [routerLink]="'/templebank/dashboard/' + ent.toLowerCase()" [class]="(classRoute === ent.toLowerCase() ? 'dashCard card' + ent + ' dashActive' : 'dashCard card' + ent) + (ent.toLowerCase() === 'partner' ? ' dashCard_' : '')" (click)="onClick(ent)">
  <mat-card-header>
    <mat-card-title>new {{ent}}</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="hamburger">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item *ngFor="let ent of entities" >
      <span [routerLink]="'/templebank/dashboard/' + ent.toLowerCase()" class="menuDash" (click)="onClick(ent)">
        new {{ent}}
      </span>
    </button>
  </mat-menu>

</div>

<app-dashboard-router></app-dashboard-router>

<button *ngIf="route === 'dashboard'" mat-raised-button class="logoutBtn" (click)="logout()" color="red">Logout</button>
