.TapesNewFormContainer {
  display: block;
  width: 90%;
  margin: auto;
  
  mat-form-field {
    filter: invert(100%);
    width: 100%;
  }
}

.coverButton {
  position: initial;
  width: 50%;
  margin: 10px 0;
  height: 50px;
  background-color: transparent;
  overflow: hidden;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  
  &:hover {
    cursor: pointer;
  }
}
.mp3Button {
  position: initial;
  overflow: hidden;
  width: 50%;
  margin: 10px 0;
  height: 50px;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  
  &:hover {
    cursor: pointer;
  }
}

mat-form-field {
  font-family: Courier !important;
  font-size: 14px;
  line-height: 1.4;
}

#coverTapeCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}

#coverMp3Create {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}

.trackList {
  width: 80%;
  margin: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  overflow: scroll;
  
  i:hover {
    cursor: pointer;
  }
}

.btnNewTape {
  margin-bottom: 10px;
  font-family: Courier;
  width: 100%;
  color: invert(darken(whitesmoke, 15%));
  background-color: rgba(96, 224, 102, 0.795);
}

.btnAddTrack {
  right: 0;
  top: 0;
  color: darken(whitesmoke, 15%);
  background: transparent;
  font-family: Courier;
}

@media screen and (max-width:555px) {
  .TapesNewFormContainer {
    display: block;
    width: 90%;
    margin: auto;
    
    mat-form-field {
      width: 100%;
    }
  }
  
  .coverButton {
    position: initial;
    width: 50%;
    margin: 10px 0;
    overflow: hidden;
    height: 50px;
    background-color: transparent;
    font-family: Courier;
    font-size: 16px;
    color: darken(whitesmoke, 15%);
    
    &:hover {
      cursor: pointer;
    }
  }
  .mp3Button {
    position: initial;
    width: 50%;
    margin: 10px 0;
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    font-family: Courier;
    font-size: 16px;
    color: darken(whitesmoke, 15%);
    
    &:hover {
      cursor: pointer;
    }
  }
  
}