.TapesNewFormContainer {
  display: grid;
  width: 25%;
  margin: 1% 5%;

  mat-form-field {
    filter: invert(100%);
  }
}

mat-form-field{
  font-family: Courier !important;
}


#coverTapeCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 90%;
  top: 5%;
}

.coverButton {
  position: fixed;
  right: 5%;
  width: 23%;
  height: 40%;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  top: 255px;
  color: darken(whitesmoke, 15%);

  &:hover {
    cursor: pointer;
  }
}

.trackList {
  position: fixed;
  left: 5%;
  right: 0;
  max-height: 39%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  overflow: scroll;
  margin-top: 5%;

  overflow: scroll;

  i:hover {
    cursor: pointer;
  }
}

.btnContainerNewTape{
  position: absolute;
}
.btnNewTape {
  margin-bottom: 10px;
  color: darken(whitesmoke, 15%);
  font-family: Courier, monospace;

}
.btnAddTrack {
  position: absolute;
  left: 5%;
  right: 0;
  margin: auto;
  width: inherit;
  background: transparent;
  font-family: Courier;
  color: #303030;
  filter: invert(100%);

}
