<div class="listbox">
  <ul>
    <li routerLink="/tapes">
      tapes
      <div *ngIf="playing">
        <img class="gifsound" src="assets/images/gif/sound.gif">
      </div>
    </li>
    <li routerLink="/stories">
      stories
    </li>
    <li routerLink="/solutions">
      solutions
    </li>
    <li routerLink="/euromafia">
      euromafia
    </li>
    <li routerLink="/history">
      history
    </li>
    <li routerLink="/outlook">
      outlook

    </li>
    <li routerLink="/outlook">
      policy
    </li>
    <li routerLink="/outlook">
      terms
    </li>
  </ul>
</div>

<div class="mb_wr">
  <div class="mapbox">
    <div class="mb_img"></div>
  </div>
</div>
