<div class="WebNewFormContainer">
  <mat-form-field class="nameWS">
    <input matInput placeholder="Website Name" [(ngModel)]="siteName">
  </mat-form-field>
  <mat-form-field class="clientWS">
    <input matInput placeholder="Client" [(ngModel)]="clientName">
  </mat-form-field>
  <mat-form-field class="descriptionWS">
    <input matInput placeholder="Description" [(ngModel)]="description">
  </mat-form-field>
  <mat-form-field class="technologyWS">
    <input matInput placeholder="Technology" [(ngModel)]="technology">
  </mat-form-field>
  <mat-form-field class="siteRefWS">
    <input matInput placeholder="Site Address" [(ngModel)]="siteRef">
  </mat-form-field>

  <button mat-raised-button color="primary" class="coverButton" type="button" md-button (click)="imgFileInput.click()" aria-placeholder="Add Image" [value]="logoSite">
    <span #coverPlaceH *ngIf="!logoSite">Upload Logo</span>
    <img *ngIf="logoSite" id="coverSolCreate" [src]="logoSite" [alt]="siteName" />
  </button>
  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>

  <!-- <div class="btnContainerNewTape"></div> -->
  <button mat-raised-button color="primary" class="btnNewSol" type="button" (click)="save()">Save</button>
</div>
