<div class="fadebox">
  <div class="titletab">history</div>

  <div class="intro_description">
    <p class="">However, in a similar way to a private company, the <i><b>Corporation</b></i> defines the path of management of an economic activity by uniting collective interests in the creation of profit. <br><br> A <i><b>Corporation</b></i> is like to "an island of conscious power in an ocean of unconscious cooperation" (D. Robertson, <i>The control of industry</i>, 1923), minding that cause its constitutive nature, similar to that of any other form of economic enterprise, expresses the conscious coordination of individual interests for the pursuit of a goal. [...] </p>
    <p style="text-align: right;"><br>Smart-Society 2.0</p>
  </div>

  <div class="gemlist">

  </div>

  <div class="description can_copy" style="text-align: justify;">
    <!-- Truffaut literally chillwave occupy selvage shabby chic. Skateboard tacos tofu pug farm-to-table stumptown banjo la croix meggings sartorial humblebrag fixie brunch hot chicken austin. Kinfolk plaid food truck, vexillologist glossier jean shorts slow-carb ramps iPhone truffaut wolf microdosing. Tacos kinfolk ugh subway tile VHS. -->
    <p>As corporation we aim to express the art as end in itself. Nothing to proof.</p>
    <p style="text-align: center">W E A R E C O R P O R A T I O N W E M A K E M O N E Y</p>

    <p>For more information or business deals please contact the secretariat of our offices at the following address: <a class="xxx" style="color: #333;" href="mailto:business@saosquarecorp.com?subject=SSC_WBR_{{time}}">business@saosquarecorp.com</a></p>
    <p style="text-align: right;"><br>M i P</p>
  </div>
  <div class="stash" style="opacity: 0; margin-top: -21em;"></div>
</div>
