<div *ngIf="classRoute === 'tape'" class="dashboardRouter">
    <div class="routerDashScroller">
        <app-tapes-new></app-tapes-new>
    </div>
</div>
<div *ngIf="classRoute === 'story'" class="dashboardRouter">
    <div class="routerDashScroller">
      <app-stories-new></app-stories-new>
    </div>
</div>
<div *ngIf="classRoute === 'clothing'" class="dashboardRouter">
    <div class="routerDashScroller">
      <app-euromafia-new></app-euromafia-new>
    </div>
</div>
<div *ngIf="classRoute === 'partner'" class="dashboardRouter">
    <div class="routerDashScroller">

    </div>
</div>
<div *ngIf="classRoute === 'beat'" class="dashboardRouter">
    <div class="routerDashScroller">
      <app-beatcook-new></app-beatcook-new>
    </div>
</div>
<div *ngIf="classRoute === 'media'" class="dashboardRouter">
    <div class="routerDashScroller">
        <app-outlook-new></app-outlook-new>
    </div>
</div>
<div *ngIf="classRoute === 'product'" class="dashboardRouter">
    <div class="routerDashScroller">
        <app-bigdist-new></app-bigdist-new>
    </div>
</div>
<div *ngIf="classRoute === 'website'" class="dashboardRouter">
    <div class="routerDashScroller">
        <app-webit-new></app-webit-new>
    </div>
</div>
