.StoriesNewFormContainer {
  display: block;
  width: 35%;
  margin: 1% 5%;
  
  mat-form-field {
    filter: invert(100%);
    width: 100%;
  }
}

mat-form-field {
  font-family: Courier !important;
  font-size: 14px;
  line-height: 1.4;
}

#coverStoryCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 90%;
  top: 5%;
}

.coverButton {
  position: fixed;
  right: 5%;
  width: 42%;
  height: 40%;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  top: 255px;
  color: darken(whitesmoke, 15%);

  &:hover {
    cursor: pointer;
  }
}

.btnContainerNewStory{
  position: absolute;
}
.btnNewStory {
  margin-bottom: 10px;
  color: invert(darken(whitesmoke, 15%));
  width: 100%;
  font-family: Courier;
  background-color: rgba(55, 153, 239, 0.795);
}

