.StoriesNewFormContainer {
  display: block;
  width: 90%;
  margin: auto;
  
  mat-form-field {
    filter: invert(100%);
    width: 100%;
  }
}

.coverButton {
  position: initial;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  height: 200px;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  
  &:hover {
    cursor: pointer;
  }
}
.mp3Button {
  position: initial;
  width: 50%;
  margin: 10px 0;
  height: 20%;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  
  &:hover {
    cursor: pointer;
  }
}


mat-form-field {
  font-family: Courier !important;
  font-size: 14px;
  line-height: 1.4;
}

#coverStoryCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}

.btnContainerNewStory{
  position: absolute;
}
.btnNewStory {
  margin-bottom: 10px;
  color: invert(darken(whitesmoke, 15%));
  width: 100%;
  font-family: Courier;
  background-color: rgba(55, 153, 239, 0.795);
}


@media screen and (max-width:555px) {
  .StoriesNewFormContainer {
    display: block;
    width: 90%;
    margin: auto;
    
    mat-form-field {
      width: 100%;
    }
  }
  
  .coverButton {
    position: initial;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    height: 200px;
    background-color: transparent;
    font-family: Courier;
    font-size: 16px;
    color: darken(whitesmoke, 15%);
    
    &:hover {
      cursor: pointer;
    }
  }
  
}