<div class="TapesNewFormContainer">

  <mat-form-field>
    <input matInput [placeholder]="'Story Title'" [(ngModel)]="titleText">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [placeholder]="'Story Text Content'" [(ngModel)]="contentText"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" class="coverButton" type="button" md-button (click)="imgFileInput.click()" aria-placeholder="Add Image" [value]="imageSrc">
    <span #coverPlaceH *ngIf="!imageSrc">Add Image</span>
    <img *ngIf="imageSrc" id="coverTapeCreate" [src]="imageSrc" [alt]="titleText" />
  </button>
  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>

  <!-- <div class="btnContainerNewTape"></div> -->
  <button mat-raised-button color="primary" class="btnNewTape" type="button" (click)="save()">Save</button>


</div>
