.OutLNewFormContainer {
  display: block;
  width: 90%;
  margin: auto;
  
  mat-form-field {
    width: 100%;
    filter: invert(100%);
  }
  .priceEM {
    width: 50%;
  }
  .quantityEM {
    width: 50%;
    float: left;
  }
}

.coverButton {
  position: initial;
  width: 100%;
  margin: 10px 0;
  height: 200px;
  background-color: transparent;
  font-family: Courier;
  font-size: 16px;
  color: darken(whitesmoke, 15%);
  overflow: hidden;
  
  &:hover {
    cursor: pointer;
  }
}

mat-form-field {
  font-family: Courier !important;
  font-size: 14px;
  line-height: 1.4;
}

#coverOutLCreate {
  position: absolute;
  max-width: 100%;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}


.btnNewOutL {
  margin-bottom: 10px;
  font-family: Courier;
  width: 100%;
  color: invert(darken(whitesmoke, 15%));
  background-color: #efc7f9cb;
}



@media screen and (max-width:555px) {
  .OutLNewFormContainer {
    display: block;
    width: 90%;
    margin: auto;
    
    mat-form-field {
      width: 100%;
    }
    .priceEM {
      width: 50%;
    }
    .quantityEM {
      width: 50%;
      float: left;
    }
  }
  
  .coverButton {
    position: initial;
    width: 100%;
    margin: 10px 0;
    height: 200px;
    background-color: transparent;
    font-family: Courier;
    font-size: 16px;
    color: darken(whitesmoke, 15%);
    
    &:hover {
      cursor: pointer;
    }
  }
 
}